/* 初始化設定 */
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(../img/shop/shopDesign/background.svg);
  background-size: cover;
}

/* 將ul,li預設的padding margin拿掉 */
ul,
li {
  padding: 0;
  margin: 0;
}
/* 設定在視窗同個位置，滾動時跟著移動 */
/* nav{
    position:fixed;
    width: 100vw;
    height: 60px;
    background-color: orange;
}  */

/* section */
.container-one {
  display: flex;

  /* 預設邊界距離 */
  width: 85%;
  /* 扣掉底部footer高度，nav因懸浮所以不要扣除其高度 */
  height: calc(100vh - 110px);
  margin: auto;
}
.container-one .box-left {
  position: relative;
  width: 40vw;
  height: 70vh;
  background-color: rgba(240, 236, 224, 1);
  margin: auto;
  margin-right: 100px;
}
.container-one .box-right {
  position: relative;
  width: 50%;
  height: 70%;
  margin: auto;
}
/* 將標題、副標、下拉式選單先隱藏  */
.box-title-none {
  display: none;
}
.container-one .box-right .box-title img {
  width: 100%;
  height: 100%;
  /* background-position: center; */
}



/* 左側照片輪播 css */
/* Time for the CSS {
   margin: 0;
  padding: 0; 
} */
.box-left .slider {
  width: 40vw;
  height: 70vh;
  /*Same as width of the large image*/
  position: relative;
  /*Instead of height we will use padding*/
  padding-top:28rem;

  /*That helps bring the labels down*/

  /* margin: 50px 100px 50px 100px;  */

  /*Lets add a shadow*/
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

/*Last thing remaining is to add transitions*/

.slider >img {
  position: absolute;
  width: 36vw;
  height: 42vh;
  left: 5%;
  top: 5%;
  /* transition: all 0.5s; */
  margin: auto;
}

.slider input[name="slide_switch"] {
  display: none;
}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  width: 160px;
  height: 160px;
  margin: 25px 0 0 25px;
  border: 3px solid #999;
   float: left; 
   cursor: pointer; 
  /* transition: all 0.5s; */
  /*Default style = low opacity*/
  opacity: 0.6;
}

.slider label img {
  display: block;
}

/*Time to add the click effects*/
.slider input[name="slide_switch"]:checked + label {
  border-color: #666;
  opacity: 1;
}

/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name="slide_switch"] ~ img {
  opacity: 0;
  /* transform: scale(1.1); */
}

/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name="slide_switch"]:checked + label + img {
  opacity: 1;
  /* transform: scale(1); */
}

/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/

/* .container .box-right{
    width: 35%;   
} */

.container-one .box-right .box-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-one .box-right .box-title img {
  width: 65px;
  height: 65px;
  margin-right: 0.5rem;
}

.container-one .box-right .box-title h3 {
  font-size: 2.25rem;
  color: rgba(69, 21, 21, 1);
  margin: 0;
  letter-spacing: 2px;
}

.container-one .box-right .box-title p {
  font-size: 1.25rem;
  letter-spacing: 4px;
  color: rgba(69, 21, 21, 1);
  margin: 0;
}

/* 左右間距 */
.box-list .box-list-up {
  margin-right: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.container-one .box-right .box-list {
  display: flex;
  position: relative;
  z-index: 2;
  font-weight: 800;
}
.container-one .box-right .box-list li {
  list-style: none;
}


.box-list-food{
margin-top: 20px;
  margin-right: 40px
}
.box-list-food a{
  color:#f3ebd9;
  background-color:rgb(213, 152, 125);
  text-decoration: none;
  border-radius: 15%;
  
}

.box-list-food a:hover{
  color: #3f4756;
  background-color: rgb(220, 158, 158);
  opacity: .8;
}



.dropdown-menu button{
  background-color: rgb(198, 213, 198);
  color: rgb(5, 42, 34);
  padding-bottom: 10px;
}

.dropdown-item{
 letter-spacing: 6px;
}

.dropdown-item:hover{
  font-size: 18px;
  opacity: .8;
  font-weight: 600;
  
}

.box-list-text {
  width: 150%;
  height: auto;
  background-color: rgb(59, 45, 24);
  opacity: 0.85;
  display: none;
  list-style: none;
  text-align: center;
  letter-spacing: 2px;
}
.box-list-text li {
  margin-top: 1.375rem;
  text-align: center;
}

/* .box-list-food {
   width: 100px;
  height: 30px;
  font-size: 1.25rem;
  background-color: rgb(200, 197, 163);
  margin-top: 30px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 10px 20px -5px rgba(3, 2, 2, 0.5);
  opacity: 0.9;
  outline: none; 
} */

.box-list-food:hover .box-list-text {
  display: block;
}
.container-one .box-right .box-shop {
  margin-top: 40px;
  width: 100%;
  height: 60%;
  position: relative;
  background-color: rgba(240, 236, 224, 1);
  text-align: center;
  color: rgba(96, 94, 90, 1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); 
}
.container-one .box-right .box-shop .shop-pageOne {
  position: relative;
  width: 100%;
  height: 100%;
}

.container-one .box-right .box-shop .shop-pageOne h3 {
  font-size: 1.75rem;
  color: rgba(96, 94, 90, 1);
  padding: 40px 0;
}

.container-one .box-right .box-shop .shop-pageOne p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 4px;
  color: rgba(96, 94, 90, 1);
}

.container-one .box-right .box-shop .shop-pageOne .shop-light {
  position: absolute;
  top: -6%;
  left: 74%;
}

.shop-light img {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}

.container-one .box-right .box-shop .shop-pageOne .shop-woman {
  position: absolute;
  top: 72%;
  left: -10%;
}

.shop-woman img {
  width: 15%;
  height: 15%;
}

.container-one .box-right .box-shop .shop-pageOne .shop-man {
  position: absolute;
  top: 70%;
  left: -12%;
}

.shop-man img {
  width: 17%;
  height: 16%;
}

/* .container-one .box-right .box-shop .shop-pageOne .shop-flower img {
    width: 160px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: -5%;
}  */

/* shop-pageTwo 翻頁頁面 */
.container-one .box-right .box-shop .shop-pageTwo.none {
  display: none;
}

.container-one .box-right .box-shop .shop-pageTwo {
  position: relative;
}

.container-one .box-right .box-shop .shop-pageTwo p {
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  text-indent: 32px;
  font-weight: 900;
  color: rgba(96, 94, 90, 1);
  letter-spacing: 3px;
  padding: 25px 70px;
}

.box-shop .shop-pageTwo {
  position: relative;
}
.shop-pageTwo .follow-box {
  display: block;
  position: absolute;
  top: 100%;
  left: 33%;
  margin: 0;
  padding: 0;
}
.follow-box .follow p {
  text-align: start;
  margin: 0;
  padding: 0;
}

.follow-box .socia a img {
  padding-right: 8px;
}

.container-one .box-right .box-shop .shop-pageTwo .shop-cat {
  position: absolute;
  top: 110%;
  left: 4%;
}

.shop-cat img {
  width: 80%;
  height: 80%;
}

.shop-pageOne .button {
  position: absolute;
  top: 80%;
  left: 75%;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px;
  border: 0px solid #927f53;
  border-radius: 100px;
  background: #efd089;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#efd089),
    to(#927f53)
  );
  background: -moz-linear-gradient(top, #efd089, #927f53);
  background: linear-gradient(to bottom, #efd089, #927f53);
  -webkit-box-shadow: #fad98f 0px 0px 40px 0px;
  -moz-box-shadow: #fad98f 0px 0px 40px 0px;
  box-shadow: #fad98f 0px 0px 40px 0px;
  text-shadow: #685b3c 2px 4px 0px;
  font: normal normal bold 10px courier new;
  color: #ffffff;
  text-decoration: none;
}

.button:hover,
.button:focus {
  border: 0px solid #d0b577;
  background: #fffaa4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fffaa4),
    to(#af9864)
  );
  background: -moz-linear-gradient(top, #fffaa4, #af9864);
  background: linear-gradient(to bottom, #fffaa4, #af9864);
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background: #927f53;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#927f53),
    to(#927f53)
  );
  background: -moz-linear-gradient(top, #927f53, #927f53);
  background: linear-gradient(to bottom, #927f53, #927f53);
}

.button:after {
  content: "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 -4px -6px 4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABiElEQVRIibXWv2sUURAH8E/OrSRFOMIFO4sjVQqLlJJSCEr+EUvhiiBC7C3FPyOeMYJVSCEihEPEUmyOEM5CrNLYpHiz5ITdt28x+cIu7Jsf33mz82beim7cxTa2sBFrC3zHGS5zxisZ2RjP8AQ/McNFyO7hQei8xyv8KAgWVHiOOSYYZXRHoTMPm6rL+SqOMMV6aUShexi2q21KVSi8bohkUEBShe1Rgz3SFg9bhBO8KCSZhq9/MJby2JaWNXzGQQHJevgaLy++iShzGAZJyU4m4ROpzufy1VJjDV8KSEY4D992cFLgfJmkJF2n2BlIJ/RrD4I/eIxH8juZYauSjv9FRrEJv7GLj/H9skHnHBsl9d2GLttB/VpIvaUPhjiOpyl64XNB/59cl2vJT35IvzId6lmmd/AXm7iPTx3Oj/FBe1pqPMUvvK0XulpFaVpoaRWkBjV1S82uFt5qu+b/Bs5Ux8BZjmTfDY3MkqG/Jw30mVR6A9dDfxPvZIZ+jqBG27XlW5Bmry1XIt5YMDuvaiMAAAAASUVORK5CYII=")
    no-repeat left center transparent;
  background-size: 100% 100%;
}

.shop-pageTwo .button-two {
  position: absolute;
  top: 123%;
  left:80%;
}

.button-two {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px;
  border: 0px solid #927f53;
  border-radius: 100px;
  background: #efd089;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#efd089),
    to(#927f53)
  );
  background: -moz-linear-gradient(top, #efd089, #927f53);
  background: linear-gradient(to bottom, #efd089, #927f53);
  -webkit-box-shadow: #fad98f 0px 0px 40px 0px;
  -moz-box-shadow: #fad98f 0px 0px 40px 0px;
  box-shadow: #fad98f 0px 0px 40px 0px;
  text-shadow: #685b3c 2px 4px 0px;
  font: normal normal bold 10px courier new;
  color: #ffffff;
  text-decoration: none;
}

.button-two,
.button-two:focus {
  border: 0px solid #d0b577;
  background: #fffaa4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fffaa4),
    to(#af9864)
  );
  background: -moz-linear-gradient(top, #fffaa4, #af9864);
  background: linear-gradient(to bottom, #fffaa4, #af9864);
  color: #ffffff;
  text-decoration: none;
}

.button-two:active {
  background: #927f53;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#927f53),
    to(#927f53)
  );
  background: -moz-linear-gradient(top, #927f53, #927f53);
  background: linear-gradient(to bottom, #927f53, #927f53);
}

.button-two:after {
  content: "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 -4px -6px 4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABiElEQVRIibXWv2sUURAH8E/OrSRFOMIFO4sjVQqLlJJSCEr+EUvhiiBC7C3FPyOeMYJVSCEihEPEUmyOEM5CrNLYpHiz5ITdt28x+cIu7Jsf33mz82beim7cxTa2sBFrC3zHGS5zxisZ2RjP8AQ/McNFyO7hQei8xyv8KAgWVHiOOSYYZXRHoTMPm6rL+SqOMMV6aUShexi2q21KVSi8bohkUEBShe1Rgz3SFg9bhBO8KCSZhq9/MJby2JaWNXzGQQHJevgaLy++iShzGAZJyU4m4ROpzufy1VJjDV8KSEY4D992cFLgfJmkJF2n2BlIJ/RrD4I/eIxH8juZYauSjv9FRrEJv7GLj/H9skHnHBsl9d2GLttB/VpIvaUPhjiOpyl64XNB/59cl2vJT35IvzId6lmmd/AXm7iPTx3Oj/FBe1pqPMUvvK0XulpFaVpoaRWkBjV1S82uFt5qu+b/Bs5Ux8BZjmTfDY3MkqG/Jw30mVR6A9dDfxPvZIZ+jqBG27XlW5Bmry1XIt5YMDuvaiMAAAAASUVORK5CYII=")
    no-repeat left center transparent;
  background-size: 100% 100%;
}

 /* footer */
.footer{
  background-color: #F9D195;
  font-size: 14px;
  height: 50px;
  padding-top: 15px;
}
.fixed-bottom{
  position: absolute;
  z-index: 0;
}

@media (max-width: 1600px) {
  .box-list .box-list-up{
    letter-spacing:2px;
    width: 80%;
    height: 80%;
    margin: 20px auto 40px auto; 
    display: flex;
    flex-wrap: wrap;
  }
  .slider img {
    width: 400px;
    height: 400px;
    margin-right: 45px;  
  }
  .slider label {
    width: 120px;
    height: 120px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 34vw;
    height: 46vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%;
    padding-top: 460px; 
    
  }

}


@media (max-width: 1540px) {
  .box-list .box-list-up{
    letter-spacing:2px;
    width: 80%;
    height: 80%;
    margin: 20px auto 40px auto; 
    display: flex;
    flex-wrap: wrap;
  }
  .slider img {
    width: 400px;
    height: 400px;
    margin-right: 45px;  
  }
  .slider label {
    width: 115px;
    height: 115px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 34vw;
    height: 45vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%;
    padding-top: 450px; 
    
  }
}

@media (max-width: 1490px) {
  .box-list .box-list-up{
    letter-spacing:2px;
    width: 80%;
    height: 80%;
    margin: 20px auto 40px auto; 
    display: flex;
    flex-wrap: wrap;
  }
  .slider img {
    width: 400px;
    height: 400px;
    margin-right: 45px;  
  }
  .slider label {
    width: 105px;
    height: 105px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 34vw;
    height: 45vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%;
    padding-top: 450px; 
    
  }
}

@media (max-width: 1390px) {
  .box-list .box-list-up{
    letter-spacing:2px;
    width: 80%;
    height: 80%;
    margin: 20px auto 40px auto; 
    display: flex;
    flex-wrap: wrap;
  }
  .slider img {
    width: 400px;
    height: 400px;
    margin-right: 45px;  
  }
  .slider label {
    width: 90px;
    height: 90px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 33vw;
    height: 45vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%;
    padding-top: 460px; 
    
  }
}



/* 店家介紹變版 */
/*平板*/

@media (max-width: 768px) {
  .container-one {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
  }
  .container-one .box-left {
    
    position: relative;
    width: 100%;
  }
  .container-one .box-right {
    position: relative;
    width: 100%;
    
  }
  .container-one .box-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-one  .box-title img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
  }
  
  .container-one .box-title h3 {
    font-size: 2rem;
    color: rgba(69, 21, 21, 1);
    letter-spacing: 3px;
    
  }
  
  .box-right .box-title-all div p {
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgba(69, 21, 21, 1);
    justify-content: center; 
    ;
  }

   /* 標題 副標  出現 */
  .box-title-none{
    display: block;
    width: 100%;
    height: 20vh;
    flex-wrap: wrap;
  }
  .box-title-all{
      display: none;
  }

  .container-one .box-title-none .box-second-title{
    padding-right: 10px;
  }
  
  /* 左右間距 */
.box-list .box-list-up{
    letter-spacing:2px;
    width: 80%;
    height: 80%;
    margin: 20px auto 40px auto; 
    display: flex;
    flex-wrap: wrap;
  }
  .container-one .box-list{
    display: flex;
    position: relative;
    z-index: 2;
    font-weight: 800;
  }
  .container-one .box-list li {
    list-style: none;
    margin:10px 6px;
  }

  .box-list-text {
    width: 150%;
    height: auto;
    background-color: rgb(59, 45, 24);
    opacity: 0.85;
    display: none;
    list-style: none;
    text-align: center;
    letter-spacing: 2px;
  }
  .box-list-text li {
    margin-top: 1.375rem;
    text-align: center;
  }
  
 
  .box-list-food:hover .box-list-text {
    display: block;
  }

  .container-one .box-shop {
    width: 90%;
    height: 60%;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    
  }
  .slider img {
    width: 600px;
    height: 400px;
    margin-right: 50px;  
  }
  .slider label {
    width: 135px;
    height: 135px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 88vw;
    height: 46vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .shop-pageOne .button {
    position: absolute;
    top: 80%;
    left: 75%;
  }

  .button-two{
    position: absolute;
    top: 80%;
    left: 75%;

  }
  /* footer */
  .footer{
    background-color: #F9D195;
    font-size: 14px;
    height: 50px;
    padding-top: 15px;
}
.fixed-bottom{
    /* position: absolute; */
    z-index: 0;
}
}
/*手機*/
@media (max-width: 375px) {
  .container-one {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
  }
  .container-one .box-left {
    position: relative;
    width: 100%;
  }
  .container-one .box-right {
    position: relative;
    width: 100%;
    
  }
  .container-one .box-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-one  .box-title img {
    width: 55px;
    height: 55px;
    margin-right: 0.5rem;
  }
  
  .container-one .box-title h3 {
    font-size: 2rem;
    color: rgba(69, 21, 21, 1);
    letter-spacing: 3px;
    
  }
  
   .box-right .box-title-all div p {
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgba(69, 21, 21, 1);
    justify-content: center; 
    ;
  } 

   /* 標題 副標  出現 */
   .box-title-none{
    display: block;
    width: 100%;
    height: 20vh;
    flex-wrap: wrap;
  }
  .box-title-all{
      display: none;
  } 
  
  /* 左右間距 */

  .box-list .box-list-up{
    margin-right: 1rem;
    letter-spacing:2px;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
  }
  .container-one .box-list{
    display: flex; 
    position: relative;
    z-index: 2;
    font-weight: 800;
    width: 100%; 
 
  }

  .container-one .box-list li {
    display: flex;
    list-style: none;
  }

  .box-list-text {
    width: 150%;
    height: auto;
    background-color: rgb(59, 45, 24);
    opacity: 0.85;
    display: none;
    list-style: none;
    text-align: center;
    letter-spacing: 2px;
  }
  .box-list-text li {
    margin-top: 1.375rem;
    text-align: center;
  }

  
  .box-list-food:hover .box-list-text {
    display: block;
  }

  .container-one .box-shop {
    width: 90%;
    height: 60%;
  }

  .container-one .box-left .slider {
    width: 100%;
    height: 100%; 
    margin-top: 50px;
  }
  .slider img {
    width: 350px;
    height: 350px;
    margin-right: 50px;  
  }
  .slider label {
    width: 120px;
    height: 120px; 
  }
  .slider label img {
    width: 100%;
    height: 100%;
    margin-right: 20px; 
  }

  .slider >img {
    position: absolute;
    width: 88vw;
    height: 40vh;
    left: 5%;
    top: 5%;
    transition: all 0.5s;
    margin: auto;
  }

  .shop-pageOne .button {
    position: absolute;
    top: 80%;
    left: 75%;
  }

  .shop-pageOne .button-two{
    position: absolute;
    top: 80%;
    left: 75%;

  }
  /* footer */
  .footer{
    background-color: #F9D195;
    font-size: 14px;
    height: 50px;
    padding-top: 15px;
}
.fixed-bottom{
    /* position: absolute; */
    z-index: 0;
}
}
